.ant-space {
    margin-bottom: 10px
}

.row {
    display: flex;
}

.row > * {
    margin: 10px;
    align-self: end;
}

.item {
    display: flex;
    width: 90%;
    height: 25px;
    background-color: white;
    border-radius: 5px;
    border-color: #e5e7eb;
    padding: 5px;
}

.itemActive {
    background-color: #e6f4ff;
    border-color: #91caff;
    color: #1677ff;

}

.item:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}

.itemActive:hover {
    background-color: #e6f4ff;
}

.title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: "ellipsis";
    flex: 1;
    min-width: 0;
    margin-right: 5px;
}

.titleActive {
    color: #1677ff;
}

.btns {
    margin-left: auto;
}
