#root,body,html {
  height: 100%;
  width: 100%;
}

.ant-layout {
  display: flex;
  width: 100%;
  min-height: 100%;
}
.ant-layout-sider {
  width: 200px;
  transition: width 0.3s ease;
}
.ant-layout-sider.collapsed {
  width: 80px;
}
.collapsed-icon {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -12px;

  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 0.3s ease-in-out; /* 加上过渡效果 */
}
.rotate {
  transform: rotate(180deg); /* 旋转 180 度 */
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
